body {
  background-image: url("https://wallpaper.dog/large/5567966.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

img {
  height: 300px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Float four columns side by side */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #b9d6f2;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 350px;
  text-align: center;
}

.card img {
  object-fit: fill;
  height: 300px;
  width: 100%;
}

.cardText {
  font-family: Roboto;
}

/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 550px) {
  .search {
    width: 100%;

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .button2 {
    width: 50%;

    margin-bottom: 20px;
  }
}

/* ================================================================================ */
/* button styled */

.button2 {
  display: flex;
  margin-left: 45%;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 10px;
  width: 50px;
}

.button2:hover {
  background-color: #f7fafa;
}

.button2:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 10px;
}

.button1:hover {
  background-color: #f7fafa;
}

.button1:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

/* Search input styled */

header {
  display: flex;
  justify-content: flex-end;
  background-color: #003559;
  padding: 1rem;
}
.search {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: white;
  box-shadow: 2px 1.7px 9px white;
}
.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}
/* #===========================================================# */

/* CATEGORY */

.buttonCategory {
  color: #ee6986;
  cursor: pointer;
}

.buttonCategory:hover {
  color: white;
}

.categories {
  margin: auto;
  width: 50%;
  padding: 10px;
  top: 10px;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #034078;
  color: white;
  border-radius: 0 0 5px 5px;
  border: 1px solid black;
  width: 200px;
}

.fiximg {
  margin: auto;
  margin-bottom: 10px;
  height: 200px;
  width: auto;
  text-align: center;
  align-items: center;
  display: flex;
}

.sortit {
  display: flex;
  justify-content: center;
  border: 1px transparent;
  padding: 20px 15px;
  border-radius: 10px 10px 10px 10px;
  background-clip: padding-box;
  background-color: #034078;
  border-radius: 0.25rem;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
}

.sort {
  display: flex;
  justify-content: center;
}

.categoriesText {
  color: white;
  padding: 10px 40px;
}

.categoriesText:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

dropdown {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  height: 5.4vh;
  margin: 0 1%;
}
/*  */

.categoriesText {
  border-bottom: 2px solid black;
  padding-bottom: 2%;
  text-align: center;
  height: 4vh;
}

.categoriesText:hover {
  color: black;
  cursor: pointer;
}

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-group {
  position: relative;
}
.input {
  font: inherit;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-block: 5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.input::placeholder {
  color: inherit;
  transition: opacity 0.25s;
}
.input:focus::placeholder {
  opacity: 0;
}
.border-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #bb93fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.input:focus + .border-bottom,
.input:valid + .border-bottom {
  transform: scaleX(1);
}
