body {
  background-image: url("https://wallpaper.dog/large/5567966.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

img {
  height: 300px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Float four columns side by side */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #e7ac69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 350px;
  text-align: center;
}

.card img {
  object-fit: fill;
  height: 300px;
  width: 100%;
}

.cardText {
  font-family: Roboto;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;

    margin-bottom: 20px;
  }
}

/* ================================================================================ */
/* button styled */

.button2 {
  display: flex;
  margin-left: 47%;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 10px;

}

.button2:hover {
  background-color: #f7fafa;
}

.button2:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
} 


.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 10px;
}

.button1:hover {
  background-color: #f7fafa;
}

.button1:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
} 

/* CATEGORY */

.buttonCategory {
  color: #ee6986;
  cursor: pointer;
}
.buttonCategory:hover {
  color: white;
}
.categories {
  display: block;
  position: absolute;
  top: 10px;
  right: 2%;
  background-color: black;
  color: #ee6986;
  border: 1px solid #19302a;
}
.categoriesText {
  color: #ee6986;
  padding: 10px 40px;
}
.categoriesText:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

/* Search input styled */

header {
  display: flex;
  justify-content: flex-end;
  background-color: #ffa286;
  padding: 1rem;
}
.search {
  background-color: transparent;
  border: 2px solid #5c0000;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: white;
}
.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}
/* #===========================================================# */
/* categories */
dropdown {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  height: 5.4vh;
  margin: 0 1%;
}
/*  */
.categories {
  display: block;
  position: absolute;
  top: 20%;
  right: 28%;
  background-color: #f9f9f9;
  min-width: 9.5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1% 1%;
  z-index: 1;
  background-color: royalblue;
  color: white;
  border-radius: 0 0 5px 5px;
  border: 1px solid black;
}

.categoriesText {
  border-bottom: 2px solid black;
  padding-bottom: 2%;
  text-align: center;
  height: 4vh;
}

.categoriesText:hover {
  color: black;
  cursor: pointer;
}
